<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Bienvenue sur BikeeShop votre vendeur de vélo préféré">
        <meta name="author" content="BikeeShop">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
